body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 36px;
    background-color: #f0f0f0;
    color: white;
}

#container{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 512px; /* 16 * 32px (size of each square) */
    height: 512px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000066;
}


.result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid white;
    box-sizing: border-box;
    margin-bottom: 16px;
    width: 480px;
    height: 48px;
    font-size: 36px;
}

.center{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.num-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
}

.num-container .num{
    background-color: grey;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    box-sizing: border-box;
    /*Adding boxes around each number*/
    border: 1px solid black;
    font-size: 36px;
    color: white;
}

.op-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80px;
}

.op-container .op{
    background-color: orange;
}

.clear{
    color: black;
    width: 120px;
}

.delete{
    color: black;
    width: 120px;
}