body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 36px;
    background-color: #f0f0f0;
}

#container{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 512px; /* 16 * 32px (size of each square) */
    height: 512px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 36px;
    width: 480px;
    height: 48px;
}

.center{
    display: flex;
    justify-content: center;
}

.num-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80px;
}

.button{
    min-width: 120px;
    min-height: 120px;
    box-sizing: border-box;
    /*Adding boxes around each number*/
    border: 1px solid black;
    font-size: 36px;
    background-color: white;
}

.op-container{
    display: flex;
    justify-content: center;
}